<div class="nav">
    <div class="title-nav">
        <h1>FIVE TO GO</h1>
    </div>
    <nav class="navigation">
        <a routerLink="/home"> Home</a>
        <a routerLink="/menu">Explporer</a>
        <a routerLink="/blog">Blog</a>
        <a routerLink="/contact">Contact us</a>
    </nav>

    <div class="button-login">
        <a href="#" target="_blank">Sign Up/login</a>
    </div>
</div>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="footer-links">
        <div class="navi-footer">
            <h1>Navigation</h1>
            <a routerLink="/home"> Home</a>
            <a routerLink="/menu">Explporer</a>
            <a routerLink="/blog">Blog</a>
        </div>

        <div class="blog-footer">
            <h1>Blog</h1>
            <a routerLink="/recent ">Recent</a>
            <a routerLink="/popular ">Popular</a>
            <a routerLink="oldest ">Oldest</a>

        </div>

        <div class="about-footer">
            <h1>About</h1>
            <a routerLink="#">#</a>
            <a routerLink="#">#</a>
            <a routerLink="#">#</a>
            <a routerLink="#">#</a>


        </div>

        <div class="media-footer">
            <h1>Follow Us</h1>

        </div>
    </div>
</footer>
