<div class="home-page">

    <div class="first-section">
        <div class="content-first-section">
            <h1>Power up whit coffee</h1>
            <p>Nikmati hari - hari anda dengan secangkir kopi.</p>
            <a mat-raised-button href="#">Explorer coffe shop</a>
        </div>
    </div>
    <div class="second-section">
        <h1>Local Cafe</h1>

        <div class="carduri-locale">

            <mat-card>
                <img mat-card-image src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
                <mat-card-content>
                    <h1>Platinum cafe</h1>
                    <button mat-button>Order Now</button>
                </mat-card-content>
                <p>Strada Fulgerului nr. 125 </p>
            </mat-card>

            <mat-card>
                <img mat-card-image src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
                <mat-card-content>
                    <h1>5 to go</h1>
                    <button mat-button>Order Now</button>
                </mat-card-content>
                <p>Bl. Revolutie nr. 145  </p>
            </mat-card>

            <mat-card>
                <img mat-card-image src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
                <mat-card-content>
                    <h1>La botu calului cafe </h1>
                    <button mat-button>Order Now</button>
                </mat-card-content>
                <p>Strada MIhai Eminescu nr. 45 </p>
            </mat-card>

            <mat-card>
                <img mat-card-image src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
                <mat-card-content>
                    <h1>Nini cafe</h1>
                    <button mat-button>Order Now</button>
                </mat-card-content>
                <p>Strada Mioritei nr. 68 </p>
            </mat-card>


        </div>
    </div>
</div>