<div class="home-page">

    <div class="first-section">
        <div class="content-first-section">
            <h1>Power up whit coffee</h1>
            <p>Nikmati hari - hari anda dengan secangkir kopi.</p>
            <a mat-raised-button href="#">Explorer coffe shop</a>
        </div>
    </div>
    <div class="second-section">
        <mat-card>
            <img mat-card-image src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
            <mat-card-content >
                <h1>Plumeria cafe</h1>
                <button mat-button>Order Now</button>
            </mat-card-content>
           <p>Jl. Cikuda no.37 Jatinango </p>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
            <mat-card-content >
                <h1>Plumeria cafe</h1>
                <button mat-button>Order Now</button>
            </mat-card-content>
           <p>Jl. Cikuda no.37 Jatinango </p>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
            <mat-card-content >
                <h1>Plumeria cafe</h1>
                <button mat-button>Order Now</button>
            </mat-card-content>
           <p>Jl. Cikuda no.37 Jatinango </p>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
            <mat-card-content >
                <h1>Plumeria cafe</h1>
                <button mat-button>Order Now</button>
            </mat-card-content>
           <p>Jl. Cikuda no.37 Jatinango </p>
        </mat-card>


    </div>

</div>