<div class="home-page">

    <div class="first-section">
        <div class="content-first-section">
            <h1>Power up whit coffee</h1>
            <p>Nikmati hari - hari anda dengan secangkir kopi.</p>
            <a mat-raised-button href="#">Explorer coffe shop</a>
        </div>
    </div>
    <div class="second-section">
        <h1>Local Cafe</h1>

        <div class="carduri-locale">

           <mat-card>
            <mat-card-content>
            <img src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
            <h1>Plumeria Cafe</h1>
            <p>Jl. Cikuda No.37  Jatinangor</p>
        </mat-card-content>

        
           </mat-card>

           <mat-card>
            <mat-card-content>
                <img src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
                <h1>Plumeria Cafe</h1>
                <p>Jl. Cikuda No.37  Jatinangor</p>
            </mat-card-content>
           </mat-card>

           <mat-card>
            <mat-card-content>
                <img src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
                <h1>Plumeria Cafe</h1>
                <p>Jl. Cikuda No.37  Jatinangor</p>
            </mat-card-content>
           </mat-card>

           <mat-card>
            <mat-card-content>
                <img src="https://image.lexica.art/md2/1563e051-8cd9-4591-9958-ed93edd8f9dc" alt="">
                <h1>Plumeria Cafe</h1>
                <p>Jl. Cikuda No.37  Jatinangor</p>
            </mat-card-content>
           </mat-card>
           

 


        </div>
    </div>
</div>