.first-section {
  background-color: gray;
  height: 726px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  .content-first-section {
    color: white;
    h1 {
      font-size: 64px;
    }
    a {
      background: linear-gradient(#a0583c, #c08267);
      color: white;
    }
  }
}
.second-section {
}
.carduri-locale {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;

  mat-card {
    background-color: #c08267;
  }
  mat-card-content {
    width: 284px;
    height: 153px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    button {
      background-color: #a0583c;
      color: white;
    }
  }
  img {
    width: 284px;
    height: 153px;
    border-radius: 10px;
  }
}
